@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: "Playfair Display", serif;
    --fonte-secundaria: "Protest Strike", sans-serif;
    --thistle: #cdb4dbff;
    --fairy-tale: #ffc8ddff;
    --carnation-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --light-sky-blue: #a2d2ffff;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--light-sky-blue);
}