@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --fonte-principal: "Playfair Display", serif;
    --fonte-secundaria: "Creepster", system-ui;
    --thistle: #cdb4dbff;  
    --fairy-tale: #ffc8ddff;
    --carnation-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --light-sky-blue: rgb(119, 189, 96);
    --cinza-escuro: #2c974c; 
}


body{
    font-family: var(--fonte-principal);
    background-color: var(--light-sky-blue);
}

h1,h3{
    font-family: var(--fonte-secundaria);
}

.card{
    background-color: var(--cinza-escuro);
}

a{
    text-decoration: none ;
    font-size: 1.2em;
    color: var(--preto);
}
